In [ ]:
# NYC Public Schools SAT Performance Analysis

In [15]:
# Import libraries
import pandas as pd

In [16]:
# Load data
schools = pd.read_csv(r"C:\Users\Abhin\OneDrive\Documents\[01] Projects\Portfolio projects\NYC-Education-Performance-Assessment\schools.csv")

In [18]:
# Explore dataset
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [19]:
# Display dataset structure
print("\nDataset Structure:")
schools.info()

Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB

In [20]:
# Statistical summary of SAT performance
print("\nSAT Performance Statistics:")
schools.describe()

SAT Performance Statistics:

       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

In [ ]:
## Question 1: Which NYC schools have the best math results?
# Best results are at least 80% of the max possible score of 800 for math

best_math_schools = schools[schools['average_math'] >= 640][['school_name','average_math']].sort_values('average_math', ascending=False)
print("Schools with math excellence (640+ points):")
print(best_math_schools)